// Primary
$font: 'Inter';
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$youtube: hsl(348, 97%, 39%);

:root {
	--background: hsl(0, 0%, 100%);
	--background-header: hsl(225, 100%, 98%);
	--card-background: hsl(227, 47%, 96%);
	--text-main: hsl(228, 12%, 44%);
	--text-contrast: hsl(230, 17%, 14%);
	--slider: white;
	--hover: hsla(260, 18%, 90%, 1);
}
.dark {
	--background: hsl(230, 17%, 14%);
	--background-header: hsl(232, 19%, 15%);
	--card-background: hsl(228, 28%, 20%);
	--text-main: hsl(228, 34%, 66%);
	--text-contrast: hsl(0, 0%, 100%);
	--slider: hsl(232, 19%, 15%);
	--hover: hsla(230, 21%, 31%, 0.78);
}

// Light theme
// $light-background: hsl(0, 0%, 100%);
// $light-background-header: hsl(225, 100%, 98%);
// $light-card-background: hsl(227, 47%, 96%);
// $light-blue-text: hsl(228, 12%, 44%);
// $light-dark-blue-text: hsl(230, 17%, 14%);
// Dark theme
// $dark-background: hsl(230, 17%, 14%);
// $dark-background-header: hsl(232, 19%, 15%);
// $dark-card-background: hsl(228, 28%, 20%);
// $dark-blue-text: hsl(228, 34%, 66%);
// $dark-white-text: hsl(0, 0%, 100%);
